img {
  height: 185px;
  margin-left: 45%;
  margin-right: 50%;
  border-radius: 50%;
  width:180px;
}
html {
   background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}
h2 {
  text-align: center;
 font-family: 'Alex Brush', cursive;
  font-size:30;
}
hr {
  border: 2px solid black;
  width: 80px;
}
p {
  text-align: center;
  text-color: black;
}
.menu {
  top: 18px;
  right: 20px;
  position: absolute;
  list-style: none;
  font-size: 20px;
  font-family: Calibri;
  text-align: right;
}
li {
  display: inline;
  margin: 1px;
  cursor: pointer;
  border-height: 50px;
}
.links:hover {
  background-color: orange;
}
h1{
  text-align:center;
}